<div class="container">
  <h2>Flights</h2>

  <% if @flights.any? %>

  <% @flights.each.with_index do |flight, index| %>
    <div class="panel panel-info">
      <div class="panel-heading" id="flight_header_<%=index%>">
        <b><%= link_to "Flight number: #{flight.number}", flight_path(flight)%></b> - <%= flight.date %>
      </div>
      <div class="panel-body" id="flight_content_<%=index%>">
        <p>Origin: <%= flight.origin %></p>
        Destination: <%= flight.destination %>
      </div>
    </div>
  <% end %>

  <% else %>
    <div id="no_flights">No flights available</div>
  <% end %>
</div>
